




.parent{
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: row;
    align-items: stretch;
    /* flex-wrap: wrap; */
}
.size{
    /* height: 50px; */
    width: 30%;
    text-align: center;
    /* border-style: solid; */
    margin: 2px;
    background-color:blue;
    /* border-color: red; */
    
    /* background-color: blue;
    border: 10px;
    border-color: red; */
}
@media screen and (min-width:400px) and (max-width : 700px){
    .size{
        background-color:red;
    }
}

@media screen and (min-width:100px) and (max-width:399px){
    #third{
        order:1;
        width: 100%
        /* flex-grow: 5; */
        /* width: 30%; */
    }
    #first{
        order: 2;
    }
    #second{
        order: 3;
    }
    #fourth{
        order: 4;
    }
    #fifth{
        order: 5;
    }
}

@media screen and (max-width:99px){
    .size{
        width:30px;
    }
    #third{
        order: 1;
    }
}